body {
  margin: 0;
  background-color: #efefef;
}
header {
  background-color: #dd5a44;
  height: 90px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo {
  margin-left: 90px;
}
.topbar ul {
  margin-right: 4rem;
  display: flex;
  list-style-type: none;
}
.topbar li {
  margin: 0 2rem;
  font-family: "Bree serif";
  font-size: 28px;
}
.topbar a {
  text-decoration: none;
  color: white;
}
.topbar a:hover {
  text-decoration: underline;
}
footer {
  background-color: #5e3f3a;
  height: 180px;
  width: 100%;
  font-family: "Bree serif";
  color: #f4e1d5;
}
.footer-content h3 {
  font-family: "pacifico";
  font-size: 28px;
  margin: 0 auto;
}
.footer-content {
  width: 100%;
  display: inline-block;
  text-align: center;
}

.footer-content ul {
  justify-content: center;
  display: flex;
  list-style-type: none;
  text-align: center;
}
.footer-content li {
  margin: 0 3rem;
  justify-content: center;
  text-align: center;
}
.footer-content li:hover {
  color: #e3988b;
}

.banner img {
  padding-top: 90px;
  max-width: 100%;
}

body h1 {
  font-family: "pacifico";
  font-size: 50px;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 15px;
  color: #dd5a44;
}
section {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.card img {
  width: 600px;
  border-radius: 4px;
}
.card {
  margin: 2rem 0;
  border-radius: 2px;
  padding: 0.5rem 0;
  display: inline-flex;
  justify-content: space-around;
  text-align: center;
  background-color: white;
  width: 1000px;
  box-shadow: 0 0.1rem 0.35rem rgba(0, 0, 0, 0.3);
}
.card h2 {
  font-size: 30px;
  color: #5e271d;
  margin-bottom: 2rem;
  font-family: "Bree serif";
}
.card a {
  color: #5e271d;
  text-decoration: none;
}
.card a:hover {
  text-decoration: underline;
  /* color: #5E271D; */
}
.card p {
  margin: 1rem 1.5rem;
  font-family: "Bree serif";
}
