body {
  text-align: center;
  margin: 0;
  background-color: #efefef;
}
header {
  background-color: #dd5a44;
  height: 90px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo {
  margin-left: 90px;
}
.topbar ul {
  margin-right: 4rem;
  display: flex;
  list-style-type: none;
}
.topbar li {
  margin: 0 2rem;
  font-family: "Bree serif";
  font-size: 28px;
}
.topbar a {
  text-decoration: none;
  color: white;
}
.topbar a:hover {
  text-decoration: underline;
}

h1 {
  padding-top: 90px;
  font-family: "bree serif";
}
table {
  margin-left: 90px;
  text-align: center;
  border-collapse: collapse;
}
th {
  background-color: #dd5a44;
}
tr:nth-child(odd) {
  background-color: #ddd;
}
table,
th,
td {
  border: 1px solid black;
}
.formulario {
  max-width: 280px;
  align-items: center;
  text-align: center;
  font-size: 15px;
  display: inline-block;
  vertical-align: middle;
}

footer {
  background-color: #5e3f3a;
  height: 180px;
  width: 100%;
  font-family: "Bree serif";
  color: #f4e1d5;
}
.footer-content h3 {
  font-family: "pacifico";
  font-size: 28px;
  margin: 0 auto;
}
.footer-content {
  width: 100%;
  display: inline-block;
  text-align: center;
}

.footer-content ul {
  justify-content: center;
  display: flex;
  list-style-type: none;
  text-align: center;
}
.footer-content li {
  margin: 0 3rem;
  justify-content: center;
  text-align: center;
}
.footer-content li:hover {
  color: #e3988b;
}
